/*--------------------------------------------------------------
    Laptop, Desktop
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1317px) {
    .testi-single {
        padding: 15px;
    }
    .navbar-nav .nav-item .nav-link,
    .navbar-nav .nav-item .nav-link:focus {
        padding: 0 2px;
    }
    .navbar-nav.download-btn .nav-link {
        padding: 8px 25px;
    }

.caption h1 {
    margin-top: 8.158rem;
}

.overly-bnr {
    background: rgba(0, 0, 0, 0.5);
    height: 130vh;
}

.service-info-single {
    background: #fff;
    padding: 32px;
    margin: 0 0px;
}

.process3 {
    padding: 56px 2.632rem;
    background: #000;
    min-height: 21.053rem;
}

.process-content {
    position: relative;
    padding: 4.632rem 2rem;

}

.team h6 {
    position: absolute;
    z-index: 2;
    left: 1.316rem;
    bottom: 14.5rem;

}

.prod-details h2 .price {
    font-weight: 700;
    font-size: 2.41rem;
    padding-right: .263rem;
    color: #0f4c81;
}

.prod-details ul li span {
    padding-right: 15px;
    color: #6C6C6C;
    font-size: 14px;
    text-align: left;
}

.ribbon {
    position: absolute;
    left: -59px;
    top: 11px;
    padding: 11px 67px;
}

#testimonial-area ul li img {
    width: 1.499rem;
    vertical-align: middle;
}
.name {
    margin-top: -20px;
}


.contact1 {
    margin: 10px;
    background: #fff;
    padding: 14px;
    box-shadow: 2px 2px 70px #ddd;
}

.contact1 p {
    font-size: 17px;
}

.navbar-nav.search-btn .nav-item i {
    position: absolute;
    transform: translate(33%,89%);
    font-size: 17px;
    transition: all 0.3s ease;
}

.search-container input[type="text"] {
    width: 81.2%;
    padding: 22px 25px;
    margin-top: 8px;
    font-size: 18px;
    border: none;
    color: #555;
}

.search-container button {
    float: right;
    width: 16.999%;
    padding: 22px 25px;
    margin-top: 8px;
    margin-right: 16px;
    background: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: right;
    color: #555;
}


}

@media only screen and (min-width: 992px) and (max-width: 1199px) {


.register {
    margin-bottom: 25px;
}

.register img {
    width: 100%;
}

.register-content {
    padding-top: 80px;
}

.register-content h3 a {
    display: inline-block;
    font-size: 16px;
}

.register-content h2 {
    display: inline-block;
    font-size: 28px;
}

.register-content h4 {
    display: inline-block;
    font-size: 16px;
}

.view a  {
    margin-top: 17px;
    padding: 1rem 1.5rem;
}

}


/*--------------------------------------------------------------
    Tablet
--------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
.navbar-light .navbar-toggler {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #fff;
        line-height: 20px;
        color: #fff;
        margin-left: 20px !important;
        padding: 4px 0px
    }
    #NavbarContent {
        background-color: #130f40;
    }
    .navbar-nav {
        padding: 20px 0 0;
    }
    .navbar-nav.download-btn .nav-link {
        margin: 0 0 30px;
    }
    .navbar-nav .nav-item .nav-link.active,
    .navbar-nav .nav-item .nav-link:hover {
        color: #1d46f5;
    }
    .navbar-nav.download-btn .nav-link {
        background: -webkit-gradient(linear, right top, left top, from(#0985f9), to(#6809dc));
        background: linear-gradient(-90deg, #0985f9 0%, #6809dc 100%);
    }


#header {
    padding: 10px 0;
}

.navbar {
    padding: 0;
}

.header .navbar-toggler {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    line-height: 20px;
}

.modal-header, .modal-body {
    padding: 0rem;
}

.search-container input[type="text"] {
    width: 78.2%;
    padding: 16px 25px;
}

.search-container button {
    float: right;
    width: 19.4%;
    padding: 16px 25px;

}

.srch {
    position: absolute;
    right: 65px;
}

.modal-end .eng {
    float: right;
}

.service-info-single {
    margin: 0px;
    padding: 20px;
}

#service-area {
    padding: 95px 5px 0px;
    background: #F8F8F8;
}

.service-info-single h3 {
    font-weight: 700;
    color: #000;
    font-size: 26px;
}

.service-info-single {
    top: -131px;
}

.about-content h2 {
    font-weight: 700;
    margin: 0 0 15px;
    font-size: 28px;
}


.about-right p {
    color: #6C6C6C;
    font-weight: 500;
    font-size: 16px;

}

.serv2 h4 {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.process-content h2 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1.139rem;
    line-height: 1.44;
    font-size: 1.2rem;
    font-weight: 700;
}


.process1, .process2, .process3 {
    padding: 56px 15px;
}

.process-content {
    position: relative;
    padding: 3.632rem 1rem;
}

.team h6 {
    padding: 0.5rem 1rem;
    font-size: 13px;
    bottom: 15.6rem;
}

.product-single {
    margin-bottom: 25px;
}

.name {
    margin-left: 5rem;
    margin-top: 15px;
}

.register {
    margin-bottom: 25px;
}

.register img {
    width: 100%;
}

.register-content {
    padding-top: 7%;
}

.register-content h3 a {
    display: inline-block;
    font-size: 16px;
}

.register-content h2 {
    display: inline-block;
    font-size: 28px;
}

.register-content h4 {
    display: inline-block;
    font-size: 16px;
}

.view a  {
    margin-top: 17px;
    padding: 1rem 1.5rem;
}

.contact1 {
    margin: 0px;
    background: #fff;
    padding: 15px;
    box-shadow: 2px 2px 70px #ddd;
}

.contact1 p {
    font-size: 13px;
    color: #555555;
    line-height: 1.67;
    font-weight: 500;
}

.contact1 p a {
    font-size: 13px;
    color: #555555;
    line-height: 1.67;
    font-weight: 500;
}



    .fank {
    text-align:center;
}

.falg {
    text-align:center;
}

#footer p {
    margin: 15px 0 !important;
    text-align: center;
}

#header.sticky .navbar-light .navbar-toggler {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    border: 1px solid #fff;
    line-height: 20px;
    color: #fff;
    margin-left: 20px !important;
    padding: 4px 0px;
}

#header.sticky {
    position: fixed;
    background-color: transparent;
    padding: 14px 0;
}

#header.sticky .logo2 {
    display: none !important;
}

#header.sticky .srch {
    display: none !important;
}

.modal-header a img {
    margin-top: 4px;
    margin-left: 12px;
}

}


/*--------------------------------------------------------------
    Large Mobile
--------------------------------------------------------------*/

@media only screen and (min-width: 577px) and (max-width: 767px) {
    
.navbar-light .navbar-toggler {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #fff;
        line-height: 20px;
        color: #fff;
        margin-left: 20px !important;
        padding: 4px 0px
    }
    #NavbarContent {
        background-color: #130f40;
    }
    .navbar-nav {
        padding: 20px 0 0;
    }
    .navbar-nav.download-btn .nav-link {
        margin: 0 0 30px;
    }
    .navbar-nav .nav-item .nav-link.active,
    .navbar-nav .nav-item .nav-link:hover {
        color: #1d46f5;
    }
    .navbar-nav.download-btn .nav-link {
        background: -webkit-gradient(linear, right top, left top, from(#0985f9), to(#6809dc));
        background: linear-gradient(-90deg, #0985f9 0%, #6809dc 100%);
    }


#header {
    padding: 10px 0;
}

.navbar {
    padding: 0;
}

.header .navbar-toggler {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    line-height: 20px;
}

.modal-header, .modal-body {
    padding: 0rem;
}

.search-container input[type="text"] {
    width: 77%;
    padding: 16px 25px;
}

.search-container button {
    float: right;
    width: 19.86%;
    padding: 16px 25px;

}

.modal-header a img {
    margin-top: 13px;
    margin-left: 5px;
}

.srch {
    position: absolute;
    right: 65px;
}

.modal-end .eng {
    float: none;
    margin-top: 15px;
}

.service-info-single {
    margin-bottom: 25px;
}

.serv2 {
    padding: 15px 0;
}

.team {
    position: relative;
    margin-bottom: 25px;
}

.product-single {
    margin-bottom: 25px;
}

.name {
    margin-left: 5rem;
    margin-top: 18px;
}

.register {
    margin-bottom: 25px;
}

.register-content h3 a {
    display: inline-block;
    font-size: 16px;
}

.register-content h2 {
    display: inline-block;
    font-size: 30px;
}

.register-content h4 {
    display: inline-block;
    font-size: 18px;
}

.fank {
    text-align:center;
}

.falg {
    text-align:center;
}

#footer p {
    margin: 15px 0 !important;
    text-align: center;
}

#header.sticky .navbar-light .navbar-toggler {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    border: 1px solid #fff;
    line-height: 20px;
    color: #fff;
    margin-left: 20px !important;
    padding: 4px 0px;
}

#header.sticky {
    position: fixed;
    background-color: transparent;
    padding: 14px 0;
}

#header.sticky .logo2 {
    display: none !important;
}

#header.sticky .srch {
    display: none !important;
}




}






/*--------------------------------------------------------------
    Small Mobile
--------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .navbar-light .navbar-toggler {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #fff;
        line-height: 20px;
        color: #fff;
        margin-left: 20px !important;
        padding: 4px 0px
    }
    #NavbarContent {
        background-color: #130f40;
    }
    .navbar-nav {
        padding: 20px 0 0;
    }
    .navbar-nav.download-btn .nav-link {
        margin: 0 0 30px;
    }
    .navbar-nav .nav-item .nav-link.active,
    .navbar-nav .nav-item .nav-link:hover {
        color: #1d46f5;
    }
    .navbar-nav.download-btn .nav-link {
        background: -webkit-gradient(linear, right top, left top, from(#0985f9), to(#6809dc));
        background: linear-gradient(-90deg, #0985f9 0%, #6809dc 100%);
    }


#header {
    padding: 10px 0;
}

.navbar {
    padding: 0;
}

.header .navbar-toggler {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    line-height: 20px;
}

.modal-header, .modal-body {
    padding: 0rem;
}

.search-container input[type="text"] {
    width: 75%;
    padding: 16px 25px;
}

.srch {
    position: absolute;
    right: 65px;
}

.search-container button {
    float: right;
    width: 19.4%;
    padding: 16px 25px;

}


.modal-end .eng {
    float: none;
    margin-top: 15px;
}


/*home*/

#home-area h1 {
    font-size: 29px;
    margin-top: 64px;

}

#home-area p {
    margin-top: 15px;

}


#service-area {
    padding: 95px 0px 0px;
    background: #F8F8F8;
}

.service-info-single {
    margin: 0 7px;
    padding: 35px;
    height: auto;
    margin-bottom: 15px;
}

.service-info-single h3 {
    font-size: 20px;
}

.service-info-single p {
    font-size: 17px;
    margin-top: 8px;
}

.service-info-single i {
    margin-bottom: 8px;
    font-size: 45px;
}

#about-area {
    padding: 0px 8px 0px;
    background: #F8F8F8;
}

.about-content h2 {
    font-size: 29px;
}

.about-content h5 {
    font-size: 17px;
}

.about-info-image img {
    max-width: 5.737rem !important;
    margin-right: 20px;
}

.about-info-single h4 {
    font-size: 17px;
    line-height: 0;
    }

.about-info-single h5 {
    font-size: 15px;
}

.about-right p {
    font-size: 16px;
}

.serv2 {
    padding: 4px 0;
}

.about-bnr img {
    width: 100%;
}

.process-content {
    position: relative;
    padding: 2.632rem 2rem;
    height: auto;
}

.process-content h2 {
    font-size: 1.8rem;
}

.process2, .process1, .process3 {
    height: auto;
}



section {
    padding: 105px 8px 120px !important;
}

.team-content h2 {
    font-size: 29px;

}

.team-content h5 {
    font-size: 1.17px;

}

.team {
    margin-bottom: 15px;
}

.team h6 {
    position: absolute;
    z-index: 2;
    left: 1.316rem;
    bottom: 14.5rem;
    background-color: #0f4c81;
    padding: 1.013rem 1.316rem;

}

.prod-details {
    padding: 30px 15px 40px;
}

.prod-details ul li span {
    padding-right: 15px;
    color: #6C6C6C;
    font-size: 15px;
    text-align: left;
}


.prod-details ul li i {
    padding-right: 15px;
    float: right;
    font-size: 22px;
}

.product-single {
    margin-bottom: 15px;
}

.prod-details h2 .price {
    font-size: 3.03rem;
}

.ribbon {
    position: absolute;
    left: -60px;
    top: 13px;
    padding: 10px 67px;
}

.test-number {
    position: absolute;
    font-size: 5rem;

}
#testimonial-area h3 {
    font-size: 1.37rem;
    line-height: 1.67;
    font-weight: 400;
    margin-left: 3.5rem;
    color: #fff;
    position: relative;
    z-index: 99;
}

#testimonial-area ul li img {
    width: 2.8rem;
    vertical-align: middle;
}
.name {
    margin-left: 4.7rem;
    margin-top: 10px;
}

.register img {
    width: 100%;
    transition: all 0.3s ease;
}

.register-content h3 a {
    display: inline-block;
    font-size: 16px;
}

.register-content h2 {
    display: inline-block;
    font-size: 30px;
}

.register-content h4 {
    display: inline-block;
    font-size: 18px;
}

.view a {
    padding: 1rem 1rem;

}

.contact1 {
    margin-bottom: 15px;
    padding: 27px;
}
.contact1 p {
    font-size: 13.5px;
}

.contact1 p a {
    font-size: 13.5px;
}

.contact-form h2 {
    color: #000;
    font-size: 26px;

}

.contact-form {
    background-color: #fff;
    padding: 40px 0px 25px;
}

.contact-btn button {
    padding: 1.02rem 1rem;

}

.footer {
    text-align: center !important;
}

.fank {
    text-align:center;
}

.falg {
    text-align:center;
}

#footer p {
    margin: 15px 0 !important;
    text-align: center;
}

#header.sticky .navbar-light .navbar-toggler {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    border: 1px solid #fff;
    line-height: 20px;
    color: #fff;
    margin-left: 20px !important;
    padding: 4px 0px;
}

#header.sticky {
    position: fixed;
    background-color: transparent;
    padding: 14px 0;
}

#header.sticky .logo2 {
    display: none !important;
}

#header.sticky .srch {
    display: none !important;
}

#home-area {
    padding: 0 !important;
}


.modal-header a img {
    margin-top: 4px;
    margin-left: -27px;
}

}


#exampleModal-menu .modal-header a img, #exampleModal-search .modal-header a img {
    margin-top: 40px;
    margin-left: 25px;
}