/*----------------------------------------------------------------------------------

Project     :   Taiga - Product Landing Page

-------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------

[Table of contents]

default css
preloader
header
home area
about area
section heading
features area
why choose area
core features area
video area
product area
newsletter area
testimonial area
faq area
blog area
contact
footer
blog page
blog single page

--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Poppins:400,500,600,700');
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #130f40;
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s
}

button:focus {
    outline: none;
}
button {
    cursor: pointer;
    outline: 0
}

a {
    color: #2c3e50;
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 {
    font-weight: 400;
    margin-top: 0
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    line-height: 40px
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 20px;
    line-height: 30px
}

h5 {
    font-size: 18px;
    line-height: 28px
}

h6 {
    font-size: 16px;
    line-height: 26px
}

p {
    font-size: 14px;
    color: #555;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px
}

.d-table {
    width: 100%;
    height: 100%
}

.bg-gray {
    background-color: #f9f9f9
}


/*-------------------------------------------------------------------------------------
    preloader
---------------------------------------------------------------------------------------*/

.preloader {
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}



/*
taiga loadere*/


@keyframes ob {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.zoomIn,
.zoomin {
    animation-name: ob;
}


@keyframes Eb {
    0% {
        transform: translateZ(0);

    }

    80% {
        transform: translateZ(0);
        
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}
.slideOutRight {
    animation-name: Eb;
}










/*-------------------------------------------------------------------------------------
    header
---------------------------------------------------------------------------------------*/

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 37px 15px;
}

.logo img, .logo2 img {
    width: 7.24rem;
    transition: 0.5s all ease;
}

.logo img:hover, .logo2 img:hover {
    width: 7.579rem;
   
}

#header .logo2 {
    display: none;
}

.navbar-nav .nav-item {
    padding: 0 6px;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .nav-link:focus {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.79;
    text-transform: uppercase;
    transition: all 0.3 ease;

}

.navbar-nav .nav-item .nav-link.active {
    color: #0F4C81;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #939492;
}

.navbar-nav.search-btn .nav-item {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.navbar-nav.search-btn .nav-item i {
    position: absolute;
    transform: translate(11%,50%);
    font-size: 17px;
    transition: all 0.3s ease;
}


.navbar-nav.search-btn .nav-item:hover {
    background: #fff;
}

.navbar-nav.search-btn .nav-item:hover.nav-item i {
    color: #000;
}


.navbar-nav.search-btn .nav-link:hover {
    color: #fff !important;
    background-size: 160% auto
}

#header.sticky {
    position: fixed;
    background-color: #fff;
    padding: 14px 0;
}

#header.sticky .navbar {
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #000;
}

#header.sticky .navbar .logo2 {
    display: block;
}

#header.sticky .navbar .logo {
    display: none;
}

#header.sticky .navbar .nav-link {
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #000;
}

#header.sticky .navbar .active {
    color: #0F4C81;
}

#header.sticky .search-btn{
    display: none;
}

/*-------------------
    home area
---------------------*/

#home-area {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom
}

.overly-bnr {
    background: rgba(0, 0, 0, 0.5);
    height: 110vh;
}

.caption {
    height: 100vh
}

.caption h1 {
    line-height: 1.22;
    font-weight: 700;
    color: #fff;
    margin-top: 3.158rem;
}

.caption p {
    color: #fff;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 1.79;
    margin-top: 3.158rem;
}

.caption .learn {
    display: inline-block;
    background: #F758AB;
    padding: 18px 48px;
    border-radius: 0px;
    font-weight: 800;
    font-size: 16px;
    border: 1px solid transparent;
    color: #fff;
    margin-top: 3.158rem;
    transition: all 0.3s ease;
}

.caption .learn:hover {
    background: #6cdbd6;
    color: #fff;
}

.caption-eng .eng {
    display: block;
    float: right;
    font-weight: 800;
    font-size: 18px;
    color: #939492;
    position: absolute;
    bottom: 50px;
    right: -60px;
}

.caption a i {
    font-size: 100px;
    color: #fff;
    position: absolute;
    left: -100px;
    -webkit-animation: runningarrow 1.0s infinite linear;
    animation: runningarrow 1.0s infinite linear;
}

@keyframes runningarrow {
    0% {
        
        bottom: 40px;
    }

    50% {
        
        bottom: 70px;
    }

    70% {
        
        bottom: 55px;
    }

    100% {
        bottom: 40px;
    }
}



/*-------------------------------------------------------------------------------------
    service area-start
---------------------------------------------------------------------------------------*/

#service-area {
    padding: 95px 25px 0px;
    background: #F8F8F8;
}


.service-info-single {
    background: #fff;
    height: 460px;
    box-shadow: 1px 1px 16px #ddd;
    text-align: left;
    padding: 50px;
    margin: 0 13px;
    position: relative;
    top: -160px;
}

.service-info-single i {
    color: #0F4C81;
    font-size: 70px;
    margin-bottom: 30px;
    display: inline-block;    
}

.service-info-single h3 {
    font-weight: 700;
    color: #6cdbd6;
    font-size: 28px;
}

.service-info-single p {
    font-weight: 500;
    color: #6C6C79;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.79;
}
.arowfade .icofont-long-arrow-right {
    color: #000;
    font-size: 60px;
}

.arowfade {
     transition: all 0.3s ease;
     display: block;
}

.arowfade i {
     transition: all 0.3s ease;
}

.read {
    font-weight: 800;
    font-size: 15px;
    color: #f55197;
    margin-top: 27px;
    padding-left: 15px; 
    transition: all 0.3s ease;

    position: absolute;
    transform: translate(-0.316rem,-50%);
    transition: transform .3s ease-in-out,opacity .3s ease-in-out,z-index .3s ease-in-out;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    opacity: 0;
}

.read2 {
    font-weight: 800;
    font-size: 15px;
    color: #f55197;
    margin-top: 27px;
    padding-left: 15px; 
    transition: all 0.3s ease;    
    position: absolute;
    transform: translate(-0.316rem,-50%);
    transition: transform .3s ease-in-out,opacity .3s ease-in-out,z-index .3s ease-in-out;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    opacity: 0;
}

.arowfade:hover .read, .arowfade:hover .read2 {
opacity: 1;
}





/*-------------------------------------------------------------------------------------
    about area
---------------------------------------------------------------------------------------*/

#about-area {
    padding: 0px 25px 0px;
    background: #F8F8F8;
}

.about-content h5 {
    font-weight: 700;
    color: #f55197;
    font-size: 19px;
    
}

.about-content h2 {
    font-weight: 700;
    margin: 0 0 15px;
    font-size: 33px;
}

.about-info {
    margin: 40px 0 0;
}

.about-info-single {
    padding: 15px 10px;
    padding-left: 30px;
}

.about-info-single i {
    color: #1d46f5;
    font-size: 26px;
}

.about-info-single h4 {
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

.about-info-single h5 {
    font-weight: 500;
    font-size: 19px;
    color: #6C6C6C;
}

.about-info-image {
    float: left;
}

.about-info-image img {
max-width: 6.737rem !important;
margin-right: 50px;
}

.about-right p{
    color: #6C6C6C;
    font-weight: 500;
    font-size: 21px;
    margin-top: 40px;
    line-height: 1.7;

}

.serv2 {
    padding: 35px 0;
}

.serv2 i {
    font-size: 30px;
    color: #0F4C81;
}

.serv2 h4 {
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.arrows {
    float: left;
    padding-right: 8px;
}

.about-bnr {
    position: relative;
    z-index: 2;
}
.about-bnr img {
    width: 100%;
    overflow: hidden;

}


/*process area*/
.process-content h6 {
    color: #f55197;
    text-transform: uppercase;
    margin-bottom: 1.139rem;
    line-height: 1.63;
    font-size: 1rem;
    font-weight: 700;
}


.process-content h2 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1.139rem;
    line-height: 1.44;
    font-size: 2.053rem;
    font-weight: 700;
}

.process-content {
    position: relative;
    padding: 5.632rem 2rem;    
    padding-left: 0;
    overflow: hidden;
    align-self: center;
    height: 320px;
}

.process1 {
    padding: 80px 50px;
    color: #fff;
    background: #0f4c81;
    min-height: 21.053rem;

}

.process-content h4 {
    color: #fff;
    margin-bottom: 1.139rem;
    line-height: 1.3;
    font-size: 1.6rem;
    font-weight: 700;
}

.process-content p {
    color: #cfd7e7;
    line-height: 1.3;
    font-size: 17.5px;
    font-weight: 500;
}

.process-number {
    position: absolute;
    top: -6.632rem;
    right: -2.105rem;
    font-size: 15.789rem;
    font-weight: 700;
    color: #fbfbfb;
    z-index: 1;
    opacity: .04;
}


.process2 {
    padding: 80px 50px;
    background: #fff;
    min-height: 21.053rem;

}

.process2 h4 {
    color: #000;
    margin-bottom: 1.139rem;
    line-height: 1.3;
    font-size: 1.6rem;
    font-weight: 700;
}

.process2 p {
    color: #747474;
    line-height: 1.3;
    font-size: 17.5px;
    font-weight: 500;
}

.process-number2 {
    position: absolute;
    top: -6.632rem;
    right: -2.105rem;
    font-size: 15.789rem;
    font-weight: 700;
    z-index: 1;
    color: #060606;
    opacity: .03;
}

.process3 {
    padding: 80px 2.632rem;
    background: #000;
    min-height: 21.053rem;

}
.process-number3 {
    position: absolute;
    top: -6.632rem;
    right: -2.105rem;
    font-size: 15.789rem;
    font-weight: 700;
    z-index: 1;
    color: #fbfbfb;
    opacity: .07;
}


/*-------------------------------------------------------------------------------------
    section heading
---------------------------------------------------------------------------------------*/

.section-heading h5 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background: -webkit-gradient(linear, right top, left top, from(#0985f9), to(#6809dc));
    background: linear-gradient(-90deg, #0985f9 0%, #6809dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    margin: 0 0 5px
}

.section-heading h2 {
    font-weight: 700
}

.section-heading {
    margin-bottom: 60px
}

/*-------------------------------------------------------------------------------------
    team area
---------------------------------------------------------------------------------------*/

#team-area {
    padding: 105px 25px 120px;
    position: relative;
}

.team-content h6 {
    color: #f55197;
    text-transform: uppercase;
    margin-bottom: 1.139rem;
    line-height: 1.63;
    font-size: 1.1rem;
    font-weight: 700;
}


.team-content h2 {
    color: #000;
    margin-bottom: 1.139rem;
    line-height: 1.44;
    font-size: 2.053rem;
    font-weight: 700;
    margin-bottom: 55px;
}


.team-number {
    position: absolute;
    font-size: 22.053rem;
    margin-top: -22rem;
    right: 65px;
    font-weight: 800;
    z-index: -1;
    color: #fbfbfb;
}

.team img {
    width: 100%;
    position: relative;

}

.team {
    position: relative;

}

.team h6 {
    position: absolute;
    z-index: 2;
    left: 1.316rem;
    bottom: 12.5rem;
    background-color: #0f4c81;
    padding: 1.053rem 1.316rem;
    min-width: 9.421rem;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

.team h4 {
    color: #000;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.9;
    margin: 0;
    padding: 16px 0;
}

.team p {
    font-weight: 500;
    font-size: 17.5px;
    color: #747474;
    line-height: 1.7;
    margin-bottom: 25px;
}

.team ul li {
    display: inline-block;
    margin-right: 20px;
}

.team a i {
    color: #000;
    font-size: 22px;

}




/*-------------------------------------------------------------------------------------
    product area
---------------------------------------------------------------------------------------*/

#pricing-area {
    padding: 130px 25px 80px;
    background: #F8F8F8;
}

.price-number {
    position: absolute;
    font-size: 23.053rem;
    margin-top: -21rem;
    right: 65px;
    font-weight: 800;
    z-index: 0;
    color: #F2F2F2;
}


.team-content {
    position: relative;
    z-index: 1;
}

.product-single {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 8px #f2f0f0;
    position: relative;
    overflow: hidden;
}

.ribbon {
    position: absolute;
    left: -45px;
    top: 19px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #000;
    padding: 14px 67px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

.prod-details {
    padding: 30px 30px 40px;
    background: #fff;
    border-top: 0
}

.prod-details h3 {
    color: #000;
    font-weight: 700;
    font-size: 28px;
    margin-top: 30px;
    text-align: center;

}

.prod-details p {
    color: #747474;
    font-weight: 500;
    font-size: 17.5px;
    line-height: 1.9;
    text-align: center;
}

.prod-details h2 {
    padding: 25px;
    text-align: center;
}

.prod-details h2 .currency {
    vertical-align: top;
    padding-right: .263rem;
    font-size: 1rem;
    line-height: .8;
    color: #0f4c81;

}

.prod-details h2 .price {
    font-weight: 700;
    font-size: 4.211rem;
    padding-right: .263rem;
    color: #6cdbd6;
}


.prod-details h2 .period {
    font-size: .789rem;
    color: #060606;
    text-transform: uppercase;
}



.prod-details ul li {
    padding: 10px 0;
    border-bottom: 1px solid #97A4A0;
}

.prod-details ul li span {
    padding-right: 15px;
    color: #6C6C6C;
    font-size: 17px;
    text-align: left;
}

.prod-details ul li i {
    padding-right: 15px;
    float: right;
    font-size: 24px;
    color: #0F4C81;
}

.prod-details a {
    display: inline-block;
    font-weight: 700;
    color: #6c6c6c;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f55197;
    border: 1px solid transparent;
    color: #fff;
    padding: 1.132rem 3rem;
    font-size: 1rem;
    line-height: 1.23;
    border-radius: 0;
    margin-top: 45px;
    margin-bottom: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
}

.prod-details a:hover {
    background-color: #6cdbd6;
    color: #fff
}

.prod-details a i {
    padding-right: 2px
}

.load-more-btn a:hover {
    background-size: 200% auto;
    -webkit-transition: 0.3s;
    transition: 0.3s
}



/*-------------------------------------------------------------------------------------
    faq area
---------------------------------------------------------------------------------------*/

#accordion {
    padding: 80px 0px 0;
}

#accordion h3 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    line-height: 1.67;
    margin-bottom: 30px;
}

.card {
    margin: 0 0 20px;
    border: 0
}

.card .card-header {
    background: #fff;
    box-shadow: 2px 2px 39px #A3A3A3;
    border: 0
}

.card .card-header a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #000
}

.card-header.active::after {
    content: '\eaa1';
    color: #000;
}

.card-header::after {
    content: '\ea99';
    font-family: 'IcoFont';
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 13px;
    color: #000
}

.card-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-top: 0;
    border-radius: 0;
    color: #4D4644;
    background: #F8F8F8;
    margin-top: 26px;
}

.faq-img img {
    max-width: 280px;
}


/*-------------------------------------------------------------------------------------
    video area
---------------------------------------------------------------------------------------*/


.video-content {
    background-position: center center;
    position: relative;
    padding: 300px 0;
    overflow: hidden;
}

.video-content > a {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 92px;
    padding: 0 28px;
    margin-top: 30px;
    background-color: #fff;
    color: #0985f9;
    position: relative;
    transition:all 0.3s ease;
}

.video-content > a i {
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}


.video-content > a:hover i {    
    color: #0F4C81;
}



.video-content > a:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
    border: 7px solid #EAEBEA;
    border-radius: 50%;
    -webkit-animation: icon-bubble 2s infinite forwards linear 0.5s;
    animation: icon-bubble 2s infinite forwards linear 0.5s;
}

@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }
    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }
    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}


/*-------------------------------------------------------------------------------------
    testimonial area
---------------------------------------------------------------------------------------*/

#testimonial-area {
    padding: 130px 25px 130px;
    background: #000;
}

#testimonial-area h3 {
    font-size: 1.737rem;
    line-height: 1.67;
    font-weight: 400;
    margin-left: 5rem;
    color: #fff;
    position: relative;
    z-index: 99;
}

.test-number {
    position: absolute;
    font-size: 7rem;
    margin-top: -3rem;
    font-weight: 800;
    z-index: 0;
    color: #1F1F1F;
    transform: rotate(180deg);
}

#testimonial-area ul {
    margin-left: 5rem;
}

#testimonial-area ul li {
    display: inline-block;
    margin-right: 15px;
}

#testimonial-area ul li img {
    width: 3.158rem;
    vertical-align: middle;
}

.name h4 {
    font-weight: 800;
    color: #fff;
    font-size: 18px;
    line-height: 1.67;
}

.name h5 {
    font-weight: 500;
    color: #6C6C6C;
    font-size: 16px;
    line-height: 1.67;
}



/*-------------------------------------------------------------------------------------
    blog area
---------------------------------------------------------------------------------------*/

#register-area {
    padding: 95px 15px 120px;
    background: #F8F8F8;
}

#register-area .team-content {
    padding: 0 10px;
}
.register {
    padding: 0 10px;
}

.register-img {
    overflow: hidden;
}

.register img {
    width: 300px;
    transition: all 0.3s ease;
}

.register-content {
    padding-top: 80px;
}

.register-content h3 a {
    display: inline-block;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    font-weight: 700;
    margin: 20px 0 10px
}
.register-content h3 a:hover {
    color: #0F4C81;
}

.register-content h2 {
    display: inline-block;
    font-size: 45px;
    color: #f55197;
    line-height: 1.3;
    font-weight: 700;
    margin: 12px 0 20px
}

.register-content h4 {
    display: inline-block;
    font-size: 24px;
    color: #000;
    font-weight: 500;
    line-height: 1.45;
}

.view {
    width: 100%;
}
.view a {
    display: inline-block;
font-weight: 600;
text-align: center;
vertical-align: middle;
user-select: none;
background-color: #f55197;
border: 1px solid transparent;
color: #fff;
padding: 1.2rem 2.5rem;
font-size: 1.15rem;
line-height: 1.23;
margin-top: 45px;
margin-bottom: 20px;
margin-right: 10px;
border-radius: 0px;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
}

.view a:hover {
    background-color: #6cdbd6;
    color: #fff
}

/*-------------------------------------------------------------------------------------
    contact
---------------------------------------------------------------------------------------*/

#contact-area {
    padding: 120px 15px 100px;
    position: relative;
    z-index: 2;
}

.team-content {
    padding: 0 10px;
}

.contact1 {
    margin: 10px;
    background: #fff;
    padding: 50px;
    box-shadow: 2px 2px 70px #ddd;
}

.contact1 p i {
    font-size: 50px;
    color: #0F4C81;

}

.contact1 h5 {
    font-size: 20px;
    color: #000;
    margin: 15px 0;
    font-weight: 700;
    
}

.contact1 p {
    font-size: 17.5px;
    color: #555555;
    line-height: 1.67;
    font-weight: 500;
    
}

.contact1 p a {
    font-size: 17.5px;
    color: #555555;
    font-weight: 500;
    
}

.contact1 p a:hover {
    color: #0F4C81;
    
}

.contact-form h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.67;
}

.contact-form p {
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    margin-bottom: 50px;
}

.contact-form {
    background-color: #fff;
    padding: 40px 20px 25px;
}

.form-group {
    margin-bottom: 2rem;
}

.contact-form input {
    border: none;
    background: #F8F8F8;
    padding: 35px;
    font-size: 18px;
    color: #6C6C81;
    padding-left: 30px;
    border-radius: 0;
}

::placeholder {
    opacity: 1;
}

.contact-form textarea {
    border: none;
    background: #F8F8F8;
    padding-top: 30px;
    font-size: 18px;
    color: #6C6C81;
    padding-left: 30px;
    border-radius: 0;
}

.contact-btn button {
    display: inline-block;
    outline: none;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    padding: 1.132rem 2rem;
    font-size: 1rem;
    line-height: 1.23;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
}

.contact-btn button:hover {
    background: #000;
    color: #fff;
}

.help-block.with-errors li {
    color: #ff0000;
    margin: 4px 0 0;
}

.messages {
    margin: 15px 0 0
}

.messages button {
    color: #000;
    padding: 0;
    background-color: transparent
}

.messages button:hover {
    background-color: transparent
}

/*-------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------*/

#footer {
   position: relative;
    overflow: hidden;
    background: #000;
    padding: 55px 25px;
}

#footer p {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    color: #EDEDED;
    text-align: center;
}

#footer p a {
    color: #EDEDED;
    text-align: right;
}
.fank {
    text-align:right;
}

.falg {
    text-align:left;
}

#footer a i {
    color: #fff;
    font-size: 22px;
    margin-left: 30px;
}

#back-to-top {
    position: absolute;
    right: 2.632rem;
}

#back-to-top a {
    display: block;
    width: 3.421rem;
    height: 3.421rem;
    color: #fff;
    background: #060606;
    border: 1px solid #060606;
    border-radius: 50%;
}

#back-to-top a i {
    color: #fff;
    font-size: 35px;
    line-height: 53px;
    padding: 9px;
}



/*search-modal css here*/

.modal-header a img {
    margin-top: 16px;
    margin-left: 25px;
}

.search-container{
    margin-top: 17%;
}

.search-container input[type=text] {
    width: 80%;
    padding: 22px 25px;
    margin-top: 8px;
    font-size: 18px;
    border: none;
    color: #555;
}

.search-container button {
  float: right;
    width: 18.5%;
    padding: 22px 25px;
    margin-top: 8px;
    margin-right: 16px;
    background: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: right;
    color: #555;
}

.search-container button:hover {
  color: #0F4C81
}


.modal-end {
    margin-top: 14%;
    padding: 0 35px;
}
.modal-end h5 {
    color: #728282;
    font-size: 15px;
    font-weight: 600;
    float: left;
}

.modal-end .eng {
    float: right;
    font-size: 16px;
    font-weight: 600;
    color: #728282;
}


/*
pricing-modal here*/

.mymodal, .modal-dialog {
    width: 100% !important;
    background: #000 !important;
}


.modal-content {
    background: #000;
}

.modal-header {
    border-bottom: none;
}

.modal-header a {
    margin-top: 20px;
}

.modal-header .close {
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
    line-height: 0px;
    font-size: 32px;
    padding: 9px;
    margin-top: 27px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.modal-header .close:hover {
    color: #000;
    background: #fff;
    opacity: 1 !important;
}

.modal-body .contact-btn button {
    display: inline-block;
    outline: none;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 1.132rem 3.5rem;
    font-size: 1rem;
    line-height: 1.23;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
}

.modal-body .contact-btn button:hover {
    background: #fff;
    color: #000;
}



.modal-body ul li a {
    font-size: 17.5px;
    font-weight: 700;
    color: #728282;
    text-align: right;
    transition: all 0.3s ease;
}

.modal-body ul li a:hover {    
    color: #fff;
}

.modal-end p a {
    color: #fff;
}









