/* ===========================
account profile start here 
============================== */

.account-profile-single-item {
    padding: 60px 40px;
}

.single-item-pills {
    padding-top: 90px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #3576AF !important;
    background-color: #EBF2FE;
    border-right: 4px solid;
    border-radius: 0;
}

.nav-link {
    color: black;
}

.account-form-single-item {
    border: 1px solid #fff5f5;
    margin-top: 110px;
    padding: 10px 28px;
}

.account-item {}

.account-profile {
    display: flex;
    align-items: center;
}

.profile-img {}

.profile-img img {
    width: 100px;
    border-radius: 50%;
}

.profile-btn {
    margin-left: 30px;
}

.profile-btn a {
    border: 1px solid blue;
    border-radius: 11px;
    color: black !important;
}

.profile-btn a:hover {
    background: blue;
    color: white !important;
}


/* =====================
Notification start here 
======================== */

.notification-item {
    margin-top: 58px;
}

.notify-title {
    font-weight: 700;
}

.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #e0cdcd;
}

.notify-icon {}

.notify-icon span {}

.notify-icon span {
    font-size: 33px;
}

.notify-content h4 {
    font-size: 17px;
}

.notify-content p {}

.notify-toggle {}

.extra-notify-content {
    padding: 0px 16px;
}

.extra-notify-content-1 {
    padding: 0px 11px;
}

.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 50px;
    height: 20px;
    margin: 27px;
    transform: translateY(50%);
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    background: #dac7c7;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: .4s;
}

input:checked+.slider:before {
    transform: translateX(30px);
    background: white;
}

input:checked+.slider {
    background: #3576AF;
}

.switch.flat .slider {
    box-shadow: none;
}

.switch.flat .slider:before {
    background: #FFF;
}

.switch.flat input:checked+.slider:before {
    background: white;
}

.switch.flat input:checked+.slider {
    background: limeGreen;
}

.notify-switch {}


/* ==========================
notification end here 
============================= */


/* ===========================
account profile end here 
============================== */