/* =======================
history start here 
======================== */

.custom-style-column {
    padding-left: 69px;
}

.history-header-single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.history-item {}

.history-item h1 {}

.history-btn {}

.history-btn a {
    background: #3576AF;
    color: white;
}

.history-btn a:nth-child(2) {
    background-color: #248AFE;
}

.history-btn a:nth-child(3) {
    background-color: #71C016;
}

.history-btn a:hover {
    background: transparent;
    color: #3576AF;
    border: 1px solid #3576AF;
}

.history-btn a:nth-child(2):hover {
    color: #248AFE;
    border: 1px solid #248AFE;
}

.history-btn a:nth-child(3):hover {
    color: #71C016;
    border: 1px solid #71C016;
}

.common-single-item-history {}

.common-single-item-history {
    margin: 40px 0px;
}

.custom-form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    position: relative;
}

.custom-form-control::placeholder {
    margin-left: 20px;
}

.form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.search-icon-h {
    position: absolute;
    top: 8px;
    left: -3px;
}


/* history card start here  */

.card-single-item {
    margin-bottom: 35px;
}

.history-card {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    padding: 15px 5px;
    justify-content: space-between;
}

.history-card-img {}

.history-card-img img {
    width: 40px;
    border-radius: 50%;
}

.history-card-title {}

.history-card-title p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}

.history-card-title p:nth-child(2) {
    font-weight: 300;
}

.history-card-icon {
    display: flex;
}

.history-card-icon a {
    margin-right: 5px;
}

.pagination-single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-page-link {
    border: 0px;
    border-radius: 50%;
}

.pagination-custom {}