/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    /* dashboard start here  */
    .btn-con {
        margin-bottom: 0px;
        display: block;
    }
    .common-title-d {
        margin-top: 29px;
        font-size: 28px;
    }
    .d-info-img span {
        margin: 0px 12px;
    }
    .w-single-item {
        padding: 20px 0px;
    }
    .w-content {
        margin-top: 0px;
    }
    .w-content h2 {
        font-size: 22px;
    }
    .w-single-item {
        padding: 0px 10px;
    }
    .d-info-content-btn a {
        display: block;
        margin-top: 14px;
    }
    .single-item-info {
        padding-left: 10px;
        padding-top: 30px;
    }
    .common-single-item-history {
        margin: 10px 0px;
    }
    .card-single-item {
        margin-bottom: 15px;
    }
    .history-item {
        margin-bottom: 30px;
    }
    .history-item h1 {
        text-align: center;
    }
    .history-btn {
        text-align: center;
    }
    .history-btn a {
        display: block;
        margin-top: 15px;
    }
    .history-header-single-item {
        display: block;
        padding: 0px;
    }
    .custom-form-control {
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .search-icon-h {
        top: 23px;
    }
    .custom-style-column {
        padding: 0px 20px;
        margin-top: 30px;
    }
    .history-card-img img {
        width: 60px;
    }
    .history-item h1 {
        text-align: left;
    }
    .history-card-title p {
        font-size: 18px;
    }
    .history-card-icon a {
        margin-right: 14px;
    }
    .pagination-single-item {
        display: block;
        text-align: center;
    }
    .pagination-custom {
        justify-content: center;
    }
    a:hover {
        text-decoration: none;
    }
    /* account start here  */
    .custom-column-account {
        padding-left: 26px;
        margin-top: 30px;
    }
    .account-profile-single-item {
        padding: 0px 0px;
    }
    .single-item-pills {
        padding-top: 0px;
    }
    .account-form-single-item {
        margin-top: 10px;
        padding: 10px 16px;
    }
    .profile-btn {
        margin-left: 10px;
    }
    .profile-btn a {
        display: block;
        margin-bottom: 15px;
    }
    .account-btn a {
        display: block;
        margin-top: 16px;
    }
    /* notification start here  */
    .extra-notify-content {
        padding: 0px 0px;
    }
    .extra-notify-content-1 {
        padding: 0px 0px;
    }
    /* notification end here  */
    /* account end here  */
    /* statistics start here  */
    .custom-column-statistics {
        padding-left: 6;
    }
    .custom-container {
        padding: 30px 30px;
    }
    .statistics-single-item,
    .statistics-content {
        padding-left: 10px;
        display: block;
        padding-left: 9px;
    }
    .statistics-single-item {
        padding-top: 0px;
    }
    .statistics-content h1 {
        font-size: 25px;
    }
    .statistics-common-single-item {
        margin-left: 0px;
    }
    .statistics-single-title {
        padding-left: 10px;
    }
    /* statistics end here  */
    /* singup start here  */
    .single-item-signup {
        padding: 60px 30px;
    }
    .signup-title-right h1 {
        font-size: 28px;
    }
    .custom-signup-btn {
        font-size: 16px;
    }
    .custom-login-btn {
        font-size: 16px;
    }
    .signup-logo-single-item {
        padding: 0px 0px;
    }
    .signup-logo img {
        width: 130px;
    }
    .signup-logo {
        display: block;
        padding: 25px 18px;
    }
    .signup-main-title {
        font-size: 30px;
    }
    .singup-form-single-item {
        padding: 0px 19px;
        margin-top: 0px;
    }
    .signup-continue p {
        left: 31%;
    }
    .custom-form-control {
        padding: 0.4rem;
    }
    .signup-btn a {
        display: block;
    }
    .facebook-btn {
        margin-top: 20px;
    }
    .play-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
        border: 0;
        outline: none;
        background: #39A6A2;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        position: relative;
        top: 40px;
        left: 26px;
        cursor: pointer;
    }
    /* singup end here  */
    /* dashboard end here  */
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-con {
        margin-bottom: 0px;
        display: flex;
    }
    .w-single-item {
        padding: 20px 0px;
    }
    .w-content {
        margin-top: 0px;
    }
    .w-content h2 {
        font-size: 25px;
    }
    .common-title-d {
        font-size: 30px;
    }
    .d-info-img span {
        margin: 0px 18px;
    }
    .d-info-setting {
        border-top: 1px solid white;
    }
    .custom-style-column {
        padding-left: 56px;
        margin-top: 50px;
    }
    .card-single-item {
        margin-bottom: 15px;
    }
    .history-single-info {
        padding-left: 24px !important;
    }
    .history-card-img img {
        width: 50px;
    }
    .history-card-title p {
        font-size: 16px;
    }
    .history-card-icon a {
        margin-right: 10px;
    }
    .w-single-item {
        padding: 0px 40px;
    }
    .single-item-info {
        padding-left: 40px;
        padding-top: 40px;
    }
    /* account profile start here  */
    .custom-column-account {
        padding-left: 56px;
        margin-top: 50px;
    }
    .account-profile-single-item {
        padding: 30px 0px;
    }
    .single-item-pills {
        padding-top: 0px;
    }
    .account-form-single-item {
        margin-top: 10px;
        padding: 10px 18px;
    }
    /* notification start here  */
    .extra-notify-content {
        padding: 0px 0px;
    }
    .extra-notify-content-1 {
        padding: 0px 0px;
    }
    /* notification end here  */
    /* account profile end ehre  */
    /* statistics start here  */
    .custom-column-statistics {
        padding-left: 0;
    }
    .custom-container {
        padding: 30px 30px;
    }
    .statistics-single-item {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .statistics-content h1 {
        font-size: 24px;
    }
    .statistics-common-single-item {
        margin-left: 0px;
    }
    .statistics-single-title {
        padding-left: 40px;
    }
    /* statistcs end here  */
    /* signup start here  */
    .signup-logo img {
        width: 129px;
    }
    .signup-logo {
        display: block;
    }
    .single-item-signup {
        padding: 40px 40px;
    }
    .signup-title-right h1 {
        font-size: 37px;
    }
    .signup-continue p {
        left: 35%;
    }
    .custom-form-control {
        padding: 0.5rem;
    }
    .singup-form-single-item {
        padding: 0px 30px;
        margin-top: 10px;
    }
    .signup-main-title {
        font-size: 24px;
    }
    .signin-main-title {
        font-size: 26px;
    }
    .custom-login-btn {
        font-size: 17px;
    }
    .signup-btn a {
        display: block;
        margin-top: 15px;
    }
    .signup-logo-single-item {
        padding: 20px 30px;
    }
    /* signup end here  */
    a:hover {
        text-decoration: none !important;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .d-logo {
        text-align: center;
    }
    .d-info-single-item {
        padding: 0px 12px;
    }
    .d-info-img span {
        margin: 0px 1px;
    }
    .d-info-img img {
        width: 70px;
    }
    .custom-style-column {
        padding: 0px 49px;
        margin-top: 50px;
    }
    .history-card-img img {
        width: 60px;
    }
    .history-card-title p {
        font-size: 16px;
    }
    .history-card-icon a {
        margin-right: 12px;
    }
    .w-single-item {
        padding: 0px 40px;
    }
    .single-item-info {
        padding-left: 40px;
        padding-top: 40px;
    }
    /* account profile start here  */
    .custom-container {
        padding: 40px 30px;
    }
    .custom-column-account {
        padding-left: 53px;
        margin-top: 50px;
    }
    .single-item-pills {
        padding-top: 0px;
    }
    .account-form-single-item {
        margin-top: 10px;
        padding: 10px 18px;
    }
    .common-title-d {
        font-size: 31px;
        padding-bottom: 0px;
    }
    .account-profile-single-item {
        padding: 30px 0px;
    }
    .comment-content {
        margin-left: 11px;
    }
    /* notification start here  */
    .extra-notify-content {
        padding: 0px 11px;
    }
    .extra-notify-content-1 {
        padding: 0px 0px;
        margin-left: 11px;
    }
    /* notification end */
    /* account profile end ehre  */
    /* statistics start here  */
    .custom-column-statistics {
        padding-left: 0;
    }
    .statistics-single-item {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .statistics-content h1 {
        font-size: 20px;
    }
    /* signup start here  */
    .signup-logo-single-item {
        padding: 0px 0px;
    }
    .signup-logo img {
        width: 109px;
    }
    .signup-logo p {
        margin-top: 19px;
        font-size: 14px;
    }
    .signup-main-title {
        font-size: 28px;
    }
    .singup-form-single-item {
        padding: 40px 35px;
        margin-top: 0px;
    }
    .custom-form-control {
        padding: 0.4rem 0.96rem;
    }
    .custom-login-btn {
        font-size: 17px;
    }
    .signup-continue p {
        left: 26%;
        position: absolute;
        top: -12px;
        background: white;
    }
    .signup-btn a {
        padding: 5px 26px;
        display: block;
        margin-top: 19px;
    }
    .signup-title-right h1 {
        font-size: 38px;
        position: absolute;
        top: 190px;
    }
    .single-item-signup {
        padding: 300px 50px;
    }
    .signin-single-item {
        padding: 230px 50px;
    }
    /* signup end here  */
    /* statistics end here  */
    a:hover {
        text-decoration: none !important;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* dashboard start here  */
    .w-single-item {
        padding: 20px 70px;
    }
    .common-title-d {
        font-size: 30px;
    }
    .d-info-single-item {
        padding: 0px 14px;
    }
    .d-info-img span {
        margin: 0px 0px;
    }
    .common-single-item-history {
        margin: 20px 0px;
    }
    .card-single-item {
        margin-bottom: 13px;
    }
    .custom-style-column {
        padding-left: 69px;
        margin-top: 50px;
    }
    .history-card-img img {
        width: 60px;
    }
    .history-card-title p {
        font-size: 16px;
    }
    .history-card-icon a {
        margin-right: 12px;
    }
    /* dashboard start here  */
    /* notification start here  */
    .extra-notify-content {
        padding: 0px 0px;
    }
    .extra-notify-content-1 {
        padding: 0px 0px;
    }
    .statistics-content h1 {
        font-size: 20px;
    }
    /* signup start here  */
    .signup-logo img {
        width: 130px;
    }
    .signup-logo p {
        margin-top: 19px;
    }
    .single-item-signup {
        padding: 440px 60px;
    }
    .singup-form-single-item {
        padding: 65px 0px;
        margin-left: -9px;
    }
    .signup-main-title {
        font-size: 26px;
    }
    .signup-continue p {
        left: 34%;
    }
    .signup-title-right h1 {
        font-size: 44px;
        position: absolute;
        top: 270px;
    }
    .custom-signup-btn {
        font-size: 17px;
    }
    .signup-btn a {
        padding: 5px 47px;
    }
    .custom-column-account {
        margin-top: 40px;
    }
    .account-profile-single-item {
        padding: 30px 40px;
    }
    .custom-form-control {
        padding: 0.6rem .96rem;
    }
    /* signup end here  */
    /* notification end here  */
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .signup-btn a {
        border: 1px solid #dee2e6!important;
        background: #F8F9FA;
        padding: 5px 84px;
    }
    .signup-continue p {
        left: 38%;
    }
    .signup-btn a {
        padding: 8px 83px;
    }
    .account-profile-single-item {
        padding-top: 60px;
    }
    .offset-lg-2 {
        margin-left: 11.666667%;
    }
    .singup-form-single-item {
        padding: 40px 10px;
    }
    .signup-title-right h1 {
        position: absolute;
        top: 265px;
    }
    .single-item-signup {
        padding: 420px 60px;
    }
}

@media (min-width: 1500px) and (max-width: 1899.98px) {
    .account-profile-single-item {
        padding: 60px 110px;
    }
    .custom-style-column {
        padding: 0px 70px;
    }
    .signup-logo p {
        font-size: 19px;
    }
    .signup-logo p {
        margin-top: 23px;
    }
    .single-item-signup {
        padding: 370px 40px;
    }
    .signup-title-right {
        padding: 0px 56px;
    }
    .signup-title-right h1 {
        font-size: 60px;
    }
    .signin-title-right h1 {
        font-weight: 300;
        font-size: 3.2rem;
        color: #252b33;
    }
    .signup-continue p {
        left: 42%;
    }
    .signup-btn a {
        padding: 5px 101px;
        font-size: 22px;
    }
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 19px;
    }
    .custom-signup-btn {
        padding: 11px;
    }
    .signup-main-title {
        margin-bottom: 50px;
    }
    .custom-form-check {
        padding: 17px 22px;
    }
    .singup-form-single-item {
        padding-top: 0px;
        margin-left: -31px;
    }
    .facebook-btn {
        margin-left: 49px;
    }
    .custom-form-check-sign-in {
        padding: 17px 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .offset-xl-3 {
        margin-left: 20%;
    }
    .offset-lg-2 {
        margin-left: 12.666667%;
    }
    .single-item-signup {
    }
    .signup-title-right h1 {
        position: absolute;
        top: 212px;
        font-size: 60px;
        left: 80px;
    }
}

@media (min-width: 1900px) and (max-width: 1949.98px) {
    .offset-xl-3 {
        margin-left: 20%;
    }
    .signup-btn a {
        padding: 8px 125px;
    }
    .signup-btn {
        margin-top: 40px;
        text-align: center;
    }
    .single-item-signup {
        padding: 20px 60px;
    }
    .offset-lg-2 {
        margin-left: 8.666667%;
    }
    .single-item-signup {
        padding: 20px 20px;
    }
    .signup-title-right h1 {
        position: absolute;
        top: 404px;
        left: 140px;
    }
    .singup-form-single-item {
        padding: 180px 10px;
    }
}

@media (min-width: 1950px) and (max-width: 2399.98px) {
    .offset-xl-3 {
        margin-left: 18%;
    }
}

@media (min-width: 2400px) and (max-width: 2599.98px) {
    .account-profile-single-item {
        padding: 60px 0px;
    }
    .offset-xl-3 {
        margin-left: 18%;
    }
    .custom-form-group {
        margin-bottom: 50px;
    }
    .custom-label {
        font-size: 28px;
    }
    .custom-signup-btn {
        font-size: 29px;
    }
    .single-item-signup {
        padding: 20px 180px;
    }
    .signup-logo-single-item {
        padding: 30px 30px;
    }
    .signup-logo img {
        width: 240px;
    }
    .signup-logo p,
    .signup-logo a {
        margin-top: 21px;
        font-size: 27px;
    }
    .signup-btn {
        text-align: center;
    }
    .signup-main-title {
        margin-bottom: 70px;
        font-size: 63px;
    }
    .single-item-signup {
        padding: 20px 160px;
    }
    .signup-btn a {
        font-size: 22px;
        padding: 8px 170px;
    }
    .continue-s {
        text-align: center;
        padding-top: 38px;
        font-size: 24px;
    }
    .signup-title-right h1 {
        position: absolute;
        top: 524px;
        left: 179px;
        font-size: 73px;
    }
    .offset-lg-2 {
        margin-left: 6.666667%;
    }
    .singup-form-single-item {
        margin-top: 200px;
    }
}

@media (min-width: 2600px) and (max-width: 2699.98px) {
    .offset-xl-3 {
        margin-left: 14%;
    }
    .single-item-signup {
        padding: 20px 180px;
    }
    .signup-btn a {
        font-size: 22px;
        padding: 8px 170px;
    }
}
