* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

.signup-logo-single-item {
    padding: 0px 30px;
}

.signup-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-logo p,
.signup-logo a {
    margin-top: 21px;
}

.signup-logo img {
    width: 180px;
}

.signup-log p {}

.signup-main-title {
    font-weight: 300;
    margin-bottom: 30px;
}

.singup-form-single-item {
    padding: 0px 10px;
    margin-top: 50px;
}

.custom-signup-btn {
    padding: 6px;
    font-size: 17px;
    font-weight: 300;
    background: #20C0F3;
    color: white;
}

.continue-s {
    text-align: center;
    margin-top: 28px;
}

.signup-continue {
    border-top: 1px solid black;
    margin-top: 40px;
    position: relative;
}

.signup-title-right h1 {
    font-weight: 300;
    font-size: 57px;
}

.custom-form-check {}

.signup-btn {
    margin-top: 40px;
}

.signup-btn a {
    border: 1px solid #dee2e6!important;
    background: #F8F9FA;
    padding: 8px 55px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.signup-btn a:hover {
    background: transparent;
    border: 1px solid #ece5e5;
}

.signup-btn span {
    margin: 0px 8px;
}

.signup-continue p {
    left: 26%;
    position: absolute;
    top: -12px;
    background: white;
}

.google-btn {}

.facebook-btn {}

.single-item-signup {
    background: #F8F9FA;
    padding: 300px 60px;
    height: 100%;
}

.signup-title-right {}

.signup-title-right h1 {
    font-weight: 300;
}

.custom-form-control {
    padding: 1rem .96rem;
    height: inherit;
    background-color: #f5f5f6 !important;
    border-color: #f5f5f6 !important;
}

.custom-login-btn {
    font-size: 25px;
}

.custom-form-check-sign-in {
    display: flex;
    justify-content: space-between;
}

.custom-signup-btn {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.custom-signup-btn:hover {
    background-color: #23272b;
    color: white;
}