/* =======================
statistics start here 
==========================*/

.statistics-single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 40px;
}

.statistics-btn {
    margin-top: 40px;
}

.custom-dropdown-btn {
    background: #f5f5ee;
    font-weight: 500;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0 solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
}

.statistics-btn a {
    background: #f1f1ec;
    padding: 6px 15px;
    font-size: 17px;
}

.statistics-content {
    padding-left: 40px;
}

.statistics-content h1 {
    font-size: 29px;
}

.statistics-content p {
    font-size: 15px;
    padding: 15px 0px;
}

.statistics-common-single-item {
    margin-left: 30px;
}

.statistics-single-title {
    margin-bottom: 25px;
}


/* =======================
statistics end here 
==========================*/