/* font-family: 'Poppins', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* =========================
dashboard start here 
========================== */


/* font-family: 'Poppins', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    text-decoration: none !important;
}


/* =========================
dashboard start here 
========================== */

.dashboard {}

.d-info-single-item {
    color: white;
    font-weight: 300;
    padding: 0px 30px;
}

.d-logo {
    /* padding: 18px 0px; */
    padding-top: 20px;
}

.d-logo img {}

.d-info-img,
.d-info-content {
    padding: 25px 0px;
    border-bottom: 1px solid white;
}

.d-info-img img {
    width: 100px;
    border-radius: 50%;
}

.d-info-img span {
    color: #ad9898;
    margin: 0px 30px;
    font-weight: 300;
}


/*mobile menu */

button {
    outline: none;
}

button:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.play-btn,
.cross-btn {
    display: none;
}

.play-btn {
    color: white;
}

.main-nav {
    background: #434343;
    width: 350px;
    height: 100%;
    padding: 30px;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.main-nav .logo-img-con {
    max-width: 270px;
    max-height: 70px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.main-nav .logo-img-con img {
    max-width: 100%;
    height: 100%;
}

.main-nav .logo-con {
    margin-bottom: 40px;
}

.user-profile {
    border-bottom: 1px solid #ffffff;
}

.user-profile-img-con {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 26px;
}

.user-profile-img-con img {
    min-width: 100%;
    height: 100%;
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    color: #39A6A2;
    font-weight: 300;
}

.nav-links {
    margin: 30px 0;
    border-bottom: 1px solid #ffffff;
}

.nav-links-ul {
    margin-bottom: 30px;
}

.nav-links-ul li {
    padding: 10px 0;
    list-style: none;
}

.nav-links-ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    transition: .4s all ease;
    letter-spacing: 0;
}

.nav-links-ul li a i {
    font-size: 18px;
}

.nav-links-ul li:hover a {
    color: #ffffff;
}

.nav-links-ul li:hover a i {
    color: var(--text-white);
}

.nav-links-ul li a i {
    color: #ffffff;
    padding-right: 10px;
}

.see-dctr-btn {
    background: #F759AB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    min-width: 120px;
    min-height: 34px;
    border: 0;
    cursor: pointer;
    transition: .4s all ease;
    margin-bottom: 40px;
    margin-right: 20px;
}

.see-dctr-btn:hover {
    background: #39A6A2;
    color: white;
}

.bottom-links ul li {
    padding: 8px 0;
    list-style: none;
}

.bottom-links ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300 !important;
    transition: .4s all ease;
}

.bottom-links ul li a i {
    color: #969695;
    font-size: 18px;
}

.bottom-links ul li:hover a {
    color: #727272;
}

.bottom-links ul li:hover a i {
    color: white;
}

.main-content {
    padding: 40px;
    padding-left: 420px;
}

.main-head-con {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
}

.main-head {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--text-black);
    font-size: 32px;
    margin-bottom: 16px;
}

.para-con {
    max-width: 400px;
}

.para-con p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--text-black);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn-wrapper:hover {
    background: #FBACD5;
    color: var(--text-white);
}

.btn {
    border: 1px solid #FBACD5;
    color: #FBACD5;
    background-color: white;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    transition: .4s all ease;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.btn-con {
    margin-bottom: 50px;
}

.appoint-para {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.commen-note {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #cccccc;
    width: 100%;
    justify-content: space-between;
}

.commen-note .dr-name,
.date,
.view-note {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #4371EA;
}

.date {
    text-transform: capitalize;
    color: #999999;
    font-weight: 400;
}

.view-note i {
    font-size: 8px;
    padding-left: 5px;
}

.view-note:hover {
    text-decoration: underline;
}

.dr-name {
    text-transform: capitalize;
    max-width: 130px;
}


/* responsive */

@media(max-width: 1280px) {
    .main-content {
        padding-left: 40px;
    }
    .cross-btn {
        background: none;
        color: white;
        outline: none;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        cursor: pointer;
    }
    .main-nav {
        transform: translateX(-350px);
    }
    .play-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
        border: 0;
        outline: none;
        background: #39A6A2;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        position: relative;
        top: 40px;
        left: 50px;
        cursor: pointer;
    }
}

@media(max-width: 476px) {
    .commen-note {
        flex-direction: column;
    }
    .dr-name {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .main-nav {
        width: 305px;
    }
}

.smooth {
    transform: translateX(0);
    transition: .3s all ease;
}


/* mobile menu end here */


/* ============================
welcome start here
============================== */

.w-single-item {
    padding: 50px 70px;
}

.common-title {}

.common-title-d {
    font-size: 35px;
}

.w-content {
    margin-top: 50px;
}

.w-content h2 {}

.w-content p {
    padding: 20px 0px;
}

.custom-btn-1:hover {
    color: #F759AB !important;
}

.w-custom-btn {
    background: transparent !important;
    border: 1px solid #F759AB !important;
    color: #F759AB !important;
}

.w-custom-btn:hover {
    background: #6c757d !important;
    color: white !important;
    border: 1px solid #6c757d !important;
}

.see-doctor {
    background: #F759AB !important;
    color: white !important;
}

.see-doctor:hover {
    background: #6c757d !important;
    border: 1px solid #6c757d !important;
}

.w-agenda {
    padding-top: 60px;
}

.w-agenda h3 {
    margin-bottom: 40px;
}

.agenda-single-item {}

.agenda-single-title {
    margin-bottom: 50px;
}

.agenda-single-title p {
    font-weight: 700;
    font-size: 20px;
}

.agenda-single-title span {
    margin-left: 15px;
}

.agenda-date {
    background: #f7f7f7;
    padding: 10px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 25px;
}

.agenda-date p {
    font-size: 16px;
    margin: 0;
}

.agenda-date small {}

.agenda-date span {
    float: right;
    cursor: pointer;
}


/* =======================
welcome start here 
======================== */


/* =======================
dashboard end here 
========================== */