.box-menu > a{
    margin-bottom: 12px;
    margin-top: 12px;
}
.box-menu{
    background: #fff;
    padding: 12px;
    position: absolute;
    left:0px;
    top:40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    border-radius: 5px;
    z-index: 99999;
}
.customH1{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: #000;
}
.modal .modal-header{
    border: 0px;
}
.modal-footer{
    border: 0px;
}
.folder-box{
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 12px 14px;
    border-radius: 2px;
    cursor: pointer;
}
.x-card{
    background-color:#f1f5f7 !important;
}
.foldersH{
    color: #000;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.customSR{
    padding: 12px;
    border-radius: 4px;
    background-color: #fff;
}
.inside-box > i{
    font-size: 18px;
    margin-right: 3px;
}
.inside-box{
    font-size: 15px;
    font-weight: normal;
    color: #000;
}
.box-questionnaire {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    height: 140px;
}
.customUl > li > i{
    color: #000;
    margin-right: 6px;
}
.date-section{
    padding-top: 12px;
    text-align: center;
    font-size: 15px;
    color: #000;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}
.shareable-section > .fa-ellipsis-v {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    width: 20px;
    text-align: center;
}
.shareable-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}
.shareable-section > .fa-laptop {
    font-size: 20px;
    color: #000;
}
.shareable-section > .fa-pencil-square-o {
    font-size: 20px;
    color: #000;
}
.shareable-section > .fa-paper-plane {
    width: 200px;
    cursor: pointer;
    font-size: 20px;
    color: #000;
}
.customUl > li:hover {
}
.customUl > li{
    color: #000;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
}
.customUl{
    padding-left: 0px;
    list-style: none;
    background-color: #fff;
    padding: 12px;
    position: absolute;
    z-index: 9999;
    left: 200px;
    width: 200px;
    top: 108px;
    border: 1px solid #efefef;
}
.boxList{
    display: inline-block;
}
.faLeftArrow{
    background-color: #fff;
    padding: 10px;
    background: #efefef;
    border-radius: 20px;
    margin-right: 12px;
    cursor: pointer;
}
#folder-view{
    margin-bottom: 12px;
    border-bottom: 1px solid #eee;
}
#boxFolder{
    position: absolute;
    top: 10px;
    left: 20px;
}
