.tag-editor {
    position: relative;
    overflow: hidden;
    outline: 0;
    min-height: 38px;
    margin: 0;
    padding: .125rem .125rem .125rem .0125rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: text;
    list-style-type: none;
    color: #5663b3;
    font-size: 1rem;
    background-image: none;
    background-clip: padding-box
}

.tag-editor:focus {
    color: #5663b3;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.tag-editor li {
    display: block;
    float: left;
    overflow: hidden;
    margin: .25rem 0
}

.tag-editor div {
    float: left;
    margin: 0;
    padding: 0
}

.tag-editor input {
    vertical-align: inherit;
    border: inherit;
    outline: inherit;
    padding: inherit;
    margin: inherit;
    cursor: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    box-shadow: inherit;
    background: inherit;
    color: inherit
}

.tag-editor::-ms-clear {
    display: none
}

.tag-editor .placeholder {
    margin: 0;
    padding: .25rem .25rem;
    font-size: 1rem;
    color: #ced4da
}

.tag-editor .tag-editor-spacer {
    width: .5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: transparent
}

.tag-editor .tag-editor-tag {
    height: 2.25rem;
    padding: 0.25rem 1.5rem 0 .5rem;
    border: 1px solid #5663b3;
    border-radius: 0.5rem;
    background-color: #5663b3;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: #fff
}

.tag-editor .tag-editor-tag.active {
    padding: 0 0 0 .1rem;
    border-color: transparent !important;
    background: 0 0 !important;
    color: #5663b3
}

.tag-editor .tag-editor-tag.active+.tag-editor-delete {
    visibility: hidden;
    cursor: text
}

.tag-editor .tag-editor-tag.active+.tag-editor-delete i {
    visibility: hidden;
    cursor: text
}

.tag-editor .tag-editor-delete {
    margin-top: .6rem;
    margin-left: -1.25rem
}

.tag-editor .tag-editor-delete i {
    display: inline-block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
    background-size: 1rem 1rem;
    background-position: center center;
    background-repeat: no-repeat
}

.tag-editor .tag-editor-delete:hover i {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23921925' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E")
}

.tag-editor-hidden-src {
    position: absolute !important;
    left: -99999px
}